body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .facebook-button {
    padding: 10px 15px;
    background: #4463AD;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
  }
}

.header {
  background: #002ACF;
  height: 60px;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  position: relative;
  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  .new-button {
    padding: 10px 15px;
    background: #FF0729;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 30px;
  }
  .signout-button {
    background: #002F9B;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    right: 25px;
    top: 12px;
    text-transform: uppercase;
  }
}