body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .facebook-button {
    padding: 10px 15px;
    background: #4463AD;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Mukta', sans-serif;
  }
}

.header {
  background: #002ACF;
  height: 60px;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  position: relative;
  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
  }
  .new-button {
    padding: 10px 15px;
    background: #FF0729;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
    margin-left: 30px;
  }
  .signout-button {
    font-family: 'Mukta', sans-serif;
    background: #002F9B;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    right: 25px;
    top: 12px;
    text-transform: uppercase;
  }
}

.projects-container {
  height: calc(100vh - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .project-card {
    margin-top: 30px;
    padding: 10px 0px 10px 0px;
    box-shadow: 2px 2px 1px #aaaaaa;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    width: 70%;
    .card-header {
      height: 40px;
      padding: 10px;
      border-bottom: 1px solid #aaaaaa;
      display: flex;
      align-items: center;
      position: relative;
      .title {
        font-size: 25px;
        font-weight: bold;
        color: #3D3F3E;
      }
      .status-button {
        width: 100px;
        padding: 10px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        color: red;
        border-radius: 3px;
        position: absolute;
        right: 10px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
      }
    }
    .card-content {
      padding: 10px;
      .information {
        display: flex;
        padding: 10px 0px 20px 0px;
        .item {
          display: flex;
        }
        .comment {
          font-size: 15px;
        }
        .name {
          font-size: 15px;
          text-decoration: underline;
          margin-left: 5px;
        }
        .date {
          font-size: 15px;
          margin-left: 20px;
        }
      }
      .bottom-content {
        display: flex;
        height: 200px;
        .description {
          width: 50%;
          color: #0c0c0c;
          font-size: 15px;
        }
        .effort {
          width: 50%;
          display: flex;
          justify-content: center;
          .block {
            border: 2px solid #aaaaaa;
            width: 400px;
            height: 150px;
            display: flex;
            border-radius: 5px;
            .left {
              width: 200px;
              border-right: 2px solid #aaaaaa;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            .right {
              width: 200px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            .title {
              width: 100px;
              height: 50px;
              font-size: 16px;
              font-weight: 500;
              color: #7C899B;
            }
            .estimated-level {
              font-size: 35px;
              font-weight: bold;
              color: #7C899B;
            }
            .level {
              font-size: 35px;
              font-weight: bold;
              color: #00992C;
            }
          }
        }
      }
    }
  }
}